body {
  background:turquoise ;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  height: 100vh;
}
.main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 30px;
  background: #11CCB8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tasks__container {
  position: relative;
  min-height: 70vh;
  min-width: 310px;
  margin: 60px 0;
  background: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 1em;
  box-shadow: 0 0 1em;
  border-radius: 5px;
  z-index: 3;
}

.layer2 {
  position: absolute;
  min-height: 68vh;
  min-width: 320px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 1em;
  box-shadow: 0 0 1em;
  border-radius: 5px;
  z-index: 2;
}

.layer1 {
  position: absolute;
  min-height: 66vh;
  min-width: 330px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 1em;
  box-shadow: 0 0 1em;
  border-radius: 5px;
  z-index: 1;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.page--input-visible::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4;
}

.tasks__header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 30px 20px 30px;
  border-bottom: 1px solid #11CCB8;
}

.icon--adalab {
  height: 45px;
  width: 45px;
}

.date__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 120px;
}

.date--number {
  font-size: 40px;
  color: #099D8D;
}

.date--day-week {
  font-weight: bold;
}

.date--month-year {
  font-size: 14px;
}

.list__container {
  padding: 20px 15px 15px 15px;
}

.tasks {
  list-style: none;
  padding: 0;
}

.task-item {
  margin-bottom: 10px;
}

.task-item input[type="checkbox"] {
  display: none;
}

.task-item input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 20px;
  padding-left: 35px;
  background: url("../images/unchecked.png") no-repeat 0 0;
  background-size: contain;
  line-height: 24px;
  text-shadow: 0 0 0.5px;
}

.task-item input[type=checkbox]:checked + label {
  background: url("../images/checked.png") no-repeat 0 0;
  background-size: contain;
}

.cross {
  text-decoration: line-through;
  color: darkgrey;
}

.new-task__container {
  position: absolute;
  bottom: 15px;
  width: 100%;
  min-height: 25vh;
  z-index: 5;
}

.new-task__container--inside {
  margin: 20px 20px 10px 20px;
  padding: 15px 20px 15px 20px;
  height: 23vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #099D8D;
  -webkit-box-shadow: 0 0 0.5em #099D8D;
  box-shadow: 0 0 0.5em #099D8D;
  border-radius: 5px;
}

.input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: lighter;
}

.input-task {
  height: 30px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #ffffff;
  -webkit-box-shadow: 0 0 0.5px #ffffff;
  box-shadow: 0 0 0.5px #ffffff;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
}

.input-task::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-task:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-task::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-task::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-task:focus {
  outline-color: white;
}

.btn-plus__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px 30px 20px 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid lightgrey;
}

.btn {
  background: inherit;
  cursor: pointer;
}

.btn--add-new {
  padding: 5px;
  width: 100px;
  border: 1.5px solid #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 1px #ffffff;
  box-shadow: 0 0 1px #ffffff;
  color: #ffffff;
  font-size: inherit;
}

.btn--plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1.5px solid #11CCB8;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px #11CCB8;
  box-shadow: 0 0 1px #11CCB8;
}

.icon-plus {
  height: 25px;
  width: 25px;
}
